html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.currentColor{
  color:red;
}




.red{
  color:red;
}

.yellow{
  color: yellow
}



.badge {
padding-left: 9px;
padding-right: 9px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;

}

.label-warning[href],
.badge-warning[href] {
background-color: #c67605;
}
.pos{
  position: relative;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  /* margin-left: 5px; */
  position: absolute;
 margin-top: -25px
}

#lblCartCount4{
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  /* margin-left: 5px; */
  position: absolute;
 margin-top: -26px;
 margin-left: 35px;
}


.navnav{
  /* background-color: blue; */
  box-shadow: 0 2px 5px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.03);
  /* position: fixed; */

}




#province{
  width: 150px;
  margin: 1rem;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  /* color:#fff; */
  width: 220px;
  height: 40px;
  text-transform: capitalize;
  padding: .2rem .8rem;
  border-radius: 3px;
}

.shipping_to{
  width: 150px;
  height: 30px;
  /* margin-left: 1.5rem; */
  margin-top: 1.5rem;
  position: relative;
  
}

.shipping_to img{
width: 100%;
height: 100%;
 /* transform: translateY(1rem); */

}


.shipping_caption{
  padding: .5rem;
  position: absolute;
  top: -10px;
  /* padding: -3px; */
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
  /* display: grid; */
}

.product{
  border: 1px solid black;
  display: inline-block;
  margin: .2rem;
  padding: .8rem;
  display: flex;
  flex-direction: column;
  width: 220px;
}

/* .halo{
  flex: right;
} */

.navigation-desktop{
  position: fixed;
}

.css-1k55a1q{
  justify-content: space-between;
}

.css-3sby7u{
  align-items: flex-end;
}