.cart-page-title {
	margin: 1rem auto;
	max-width: 300px;
	font-size: 1.7rem;
	font-weight: 100;
	padding: 1rem;
	margin-bottom: 3rem;
}

.product_list {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	// margin: 0 auto;

	.product {
		// flex-grow: 1;
		width: 235px;
		margin: 2rem 1rem;
	}
}

.shopping-cart {
	// position: relative;
	margin: 0 auto;
	// border: 1px solid grey;
	// padding: 1rem;
	max-width: 740px;
	margin-bottom: 5rem;

	h3 {
		display: flex;
		justify-content: flex-end;
		font-size: 1.5rem;
		font-weight: 600;
		margin-top: 1rem;
		@media only screen and (max-width: 600px) {
			font-size: 1.2rem;
		}
	}

	&-item {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		grid-template-rows: 3fr 1fr;
		grid-template-areas: "im de qq" "im . tt";
		margin-bottom: 1rem;

		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 150px 50px 20px 150px;
			grid-template-areas: "im im im" "de de de" "tt tt tt" "qq qq qq";
			margin-bottom: 1rem;
			justify-items: center;
			grid-gap: 15px;
		}
		// border-bottom: 1px solid grey;

		&__image {
			grid-area: im;

			image {
			}
		}

		&__description {
			grid-area: de;
			display: grid;

			justify-items: center;

			&__name {
				display: flex;
				font-size: 1.1rem;
				font-weight: 300;

				justify-content: center;
				align-items: flex-end;
			}

			&__price {
			}
		}

		&__total {
			grid-area: tt;
			display: flex;
			justify-content: center;
		}

		&__qty {
			grid-area: qq;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);

			grid-template-areas: "m q p" "r r r";

			&__plus,
			&__minus,
			&__qty {
				font-size: 2rem;
				cursor: pointer;
				display: grid;

				justify-items: center;

				@media only screen and (max-width: 600px) {
					font-size: 3rem;
					margin: 0 1rem;
				}
			}

			&__plus {
				grid-area: p;
			}
			&__minus {
				grid-area: m;
			}

			&__qty {
				margin-top: 2px;
				grid-area: q;
			}

			&__removebutton {
				grid-area: r;
				display: grid;

				align-items: center;

				span {
					// width: 59px;
					display: inline-block;
					margin: 0 auto;
				}
			}

			.button__disabled {
				color: grey;
				margin-top: 5px;

				@media only screen and (max-width: 600px) {
					margin-top: 20px;
				}
			}
		}

		&__total {
			align-items: right;
		}
	}
}

.shopping_cart_subtotal {
	@media only screen and (max-width: 600px) {
		width: 220px;
		margin: 0 auto;
		// text-align: center;
	}
}

// .checkout {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: flex-end;
// 	h2 {
// 		font-size: 1.6rem;
// 	}
// 	border: 1px solid grey;
// 	position: fixed;
// 	top: 200px;
// 	right: 100px;
// 	padding: 3rem;
// }
.checkout {
	h2 {
		font-size: 1.6rem;
		border-bottom: 1px solid grey;
	}
	max-width: 740px;
	margin: 5rem auto;
	font-size: 1.4rem;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
	margin-bottom: 5rem;
	// padding: 1rem 0;
	// width: 350px;

	p {
		margin: 1rem 0;
	}

	@media only screen and (max-width: 600px) {
		padding-right: 8rem;
	}
}
